h1{
    text-align:center;
    font-weight: bold;
}
p {
    text-align:center;
    font-family: 'Courier New', Courier, monospace;
    font-size: larger;
    font-weight: 500;
}
html{
    background-color: antiquewhite;
}
iframe{
    align-content: center;
    border: 5 solid black ;
}

ul{text-align:center;
    font-family: 'Courier New', Courier, monospace;
    font-size: larger;
    font-weight: 500;

}
.rounded{
    border-top: 8px solid black;
    border-radius: 5px;
}